<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.uav.mapper.UavModelparamMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="uavModelparamResultMap" type="org.springblade.uav.entity.UavModelparam">
        <id column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="model" property="model"/>

        <result column="length" property="length"/>
        <result column="width" property="width"/>
        <result column="height" property="height"/>
        <result column="weight" property="weight"/>
        <result column="flyWeight" property="flyWeight"/>
        <result column="flyDistance" property="flyDistance"/>
        <result column="flyHeight" property="flyHeight"/>
        <result column="memo" property="memo"/>
        <result column="createTime" property="createTime"/>
        <result column="createUser" property="createUser"/>
        <result column="updateTime" property="updateTime"/>
        <result column="updateUser" property="updateUser"/>
    </resultMap>


    <select id="selectUavModelparamPage" resultMap="uavModelparamResultMap">
        select * from emergrp_uav_modelparam where is_deleted = 0
    </select>

</mapper>
