<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.person.mapper.EmergMissingOperTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="emergMissingOperTaskResultMap" type="org.springblade.person.entity.EmergMissingOperTask">
        <id column="id" property="id"/>
        <result column="taskId" property="taskId"/>
        <result column="taskName" property="taskName"/>
        <result column="eventId" property="eventId"/>
        <result column="eventName" property="eventName"/>
        <result column="startTime" property="startTime"/>
        <result column="memo" property="memo"/>
        <result column="status" property="status"/>
        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
        <result column="raduis" property="raduis"/>
        <result column="progress" property="progress"/>
        <result column="createTime" property="createTime"/>
        <result column="createUser" property="createUser"/>
        <result column="updateTime" property="updateTime"/>
        <result column="updateUser" property="updateUser"/>
    </resultMap>



    <select id="selectEmergMissingOperTaskPage" resultMap="emergMissingOperTaskResultMap">
        select * from emerg_missing_oper_task where is_deleted = 0
    </select>


</mapper>
