<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.person.mapper.EmergrpAccidentStatSourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="emergrpAccidentStatSourceResultMap" type="org.springblade.person.entity.EmergrpAccidentStatSource">
        <id column="id" property="id"/>
        <result column="taskId" property="taskId"/>
        <result column="ruleId" property="ruleId"/>
        <result column="provinceCode" property="provinceCode"/>
        <result column="provinceName" property="provinceName"/>
        <result column="type" property="type"/>
        <result column="num" property="num"/>
        <result column="createTime" property="createTime"/>
    </resultMap>


    <select id="selectEmergrpAccidentStatSourcePage" resultMap="emergrpAccidentStatSourceResultMap">
        select * from emergrp_accident_stat_source where is_deleted = 0
    </select>

</mapper>
