<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.person.mapper.EmergrpAccidentPersonnelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="emergrpAccidentPersonnelResultMap" type="org.springblade.person.entity.EmergrpAccidentPersonnel">
        <id column="id" property="id"/>
        <result column="taskId" property="taskId"/>
        <result column="ruleId" property="ruleId"/>
        <result column="time" property="time"/>
        <result column="MSISDN" property="msisdn"/>
        <result column="IMSI" property="imsi"/>
        <result column="LACorTAC" property="LACorTAC"/>
        <result column="CIorECI" property="CIorECI"/>
        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
        <result column="createTime" property="createTime"/>
    </resultMap>

    <select id="selectEmergrpAccidentPersonnelPage" resultMap="emergrpAccidentPersonnelResultMap">
        select *
        from emergrp_accident_personnel
        where is_deleted = 0
    </select>

    <!-- 用户面数据添加到涉险人员  -->
    <insert id="batchInsertByPerson" parameterType="long">
        insert into emergrp_accident_personnel(taskId, ruleId, `time`, MSISDN, IMSI, LACorTAC, CIorECI, longitude,
                                               latitude, createTime)
        select taskId,
               ruleId,
               `time`,
               MSISDN,
               IMSI,
               LACorTAC,
               CIorECI,
               longitude,
               latitude,
               now()
        from emergrp_accident_personnel_person
        where ruleId = #{ruleId}
    </insert>

    <!-- 控制面数据添加到涉险人员  -->
    <insert id="batchInsertByControl" parameterType="long">
        insert into emergrp_accident_personnel(taskId, ruleId, `time`, MSISDN, IMSI, LACorTAC, CIorECI, longitude,
                                               latitude, createTime)
        select taskId,
               ruleId,
               `time`,
               MSISDN,
               IMSI,
               LACorTAC,
               CIorECI,
               longitude,
               latitude,
               now()
        from emergrp_accident_personnel_control tc
        where tc.ruleId = #{ruleId}
          and not exists
            (select 1 from emergrp_accident_personnel_person tp where tp.ruleId = #{ruleId} and tp.IMSI = tc.IMSI)
    </insert>

    <select id="getSourceAnalysis" resultType="org.springblade.person.entity.EmergrpAccidentStatSource">
        SELECT epi.provinceCode,
               epr.`name`   as provinceName,
               count(1)     as num
        FROM (select * from emergrp_accident_personnel t where t.ruleId = #{ruleId}) eap
                 LEFT JOIN emergrp_person_info epi ON eap.imsi = epi.imsi
                 LEFT JOIN emergrp_person_region epr on epi.provinceCode = epr.id
        GROUP BY epi.provinceCode
    </select>

    <select id="getSexAnalysis" resultType="org.springblade.person.entity.EmergrpAccidentStatCategory">
        select epi.sex as category, count(1) as num
        from (select * from emergrp_accident_personnel t where t.ruleId = #{ruleId}) eap
                 LEFT JOIN emergrp_person_info epi ON eap.imsi = epi.imsi
        GROUP BY epi.sex
    </select>

    <select id="getAgeAnalysis" resultType="java.util.HashMap">
        select epi.age , count(1)
        from (select * from emergrp_accident_personnel t where t.ruleId = #{ruleId}) eap
                 LEFT JOIN emergrp_person_info epi on eap.imsi = epi.imsi
        group by epi.age
    </select>


</mapper>
